.card--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    background-color: beige;
    height: 120vh;
    width: 120vw;
    cursor: pointer;
}


.card--tittle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
